<div ngbDropdown class="text-end" #myDrop="ngbDropdown">
    <button type="button" class="main-btn btn" id="dropdownForm1" ngbDropdownToggle>
        Sign in <i class="pi pi-sign-in" style="font-size: 0.75rem"></i>
    </button>
    <form ngbDropdownMenu aria-labelledby="dropdownConfig" class="pt-2 p-4">
        <div class="text-end mb-0">
            <button type="button" class="main-btn btn" (click)="myDrop.close()">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <div class="mb-0" style="text-align: center;">
            <img src="/assets/sign-in/welcome-logo.svg" alt="WelcomeLogo" width="200" height="auto" class="rounded-circle">
        </div>
        <div class="mb-4" style="text-align: left;">
            <p class="fs-5" style="font-family: Arial, Helvetica, sans-serif;">Sign into your account</p>
        </div>
        <div class="mb-4">
            <p-floatLabel>
                <input class="signIn-input"
                    type="text"
                    pInputText 
                    [(ngModel)]="email" 
                    id="email" 
                    name="email" 
                    placeholder="e.g JohnDove123@example.com"
                    autocomplete="email" />
                <label for="email">Email</label>
            </p-floatLabel>
        </div>
        <div class="mb-3">
            <p-floatLabel>
                <input class="signIn-input"
                    pInputText 
                    [(ngModel)]="password"
                    type="password"
                    id="password" 
                    name="password"
                    placeholder="e.g ********"/>
                <label for="password">Password</label>
            </p-floatLabel>
        </div>
        <div class="signIn-btn d-grid gap-2 col-6 mx-auto mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="text-center">
            <small>Don't have an account? <a class="text-decoration-none" href="#">Sign up</a></small>
        </div>
    </form>
</div>