.dropdown-toggle::after{
    display: none;
}

.main-btn{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.signIn-input{
    font-size: 16px;
    max-width: 100%;
    width: 300px;
    text-align: left;
}

.signIn-btn{
    text-align: center;
}

.error{
   color: var(--red-500);
   font-size: 12px;
   margin-left: 8px;
}