.error{
    font-size: 12px;
    color: var(--red-500);
}

.invalid input{
    border-color: var(--red-500);
}

.invalid label{
    color: var(--red-500);
}

.item-container{
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
    flex-direction: row;
    column-gap: 16px;
}

.room-pic{
    background-image: url(/assets/sign-in-avatar/avtr.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.room-header{
    margin-bottom: 5px;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.date-description{
    font-size: 14px;
    font-weight: 500;
    color: #606060; 
}

.stay-description{
    font-size: 14px;
    font-weight: 500;
    color: #606060; 
}

.guest-description{
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    margin-left: 12px;
}

.city-description{
    font-size: 14px;
    font-weight: 500;
    color: #606060;
    margin-left: 12px;
}

.delete-btn{
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

::ng-deep .summary .p-accordion .p-accordion-header .p-accordion-header-link{
    color: var(--surface-800);
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    padding: 14px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 0;
    margin-top: 2px;
}

::ng-deep .summary .p-accordion-toggle-icon{
    margin: 0;
}

::ng-deep .p-accordion p-accordiontab .p-accordion-tab {
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 5px;
}

::ng-deep .p-accordion .p-accordion-content{
    padding: 0 14px 14px 14px;
    border: 0 none;
    border-top: 0;
    font-size: 14px;
}

::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    font-size: 17px;
    color: var(--surface-800);
}

.content-container{
    display: flex;
    padding: 4px 0px 4px 0px;
    align-items: center;
}

.content-date{
    font-size: 14px;
    font-weight: 500;
    flex: 0 1 auto;
    color: #606060;
}

.content-price{
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    flex: 1 1 0%;
    color: #606060;
}

::ng-deep .divider .p-divider.p-divider-horizontal{
    margin: 10px 0px 10px 0px;
}

.content-room-total{
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.content-room-total-price{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    flex: 1 1 0%;
    color: black;
}

.content-fee{
    font-size: 13px;
    font-weight: 500;
    color: #606060; 
}

.content-tax{
    font-size: 13px;
    font-weight: 500;
    color: #606060;
}

.cancel-description{
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding-left: 8px;
    margin: 4px 0px 8px 0px;
}

.grand-total{
    font-weight: 500;
    font-size: 18px;
    color: black;
    padding: 5px 0px 5px 0px;
}

@media (max-width: 1200px){
    .room-header{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .room-pic{
        background-image: url(/assets/sign-in-avatar/avtr.png);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        width: 54px;
        height: 54px;
    }

    .date-description{
        font-size: 12px;
        font-weight: 500;
        color: #606060; 
    }

    .stay-description{
        font-size: 12px;
        font-weight: 500;
        color: #606060; 
    }
    
    .guest-description{
        font-size: 12px;
        font-weight: 500;
        color: #606060;
        margin-left: 10px;
    }
    
    .city-description{
        font-size: 12px;
        font-weight: 500;
        color: #606060;
        margin-left: 10px;
    }

}