<ng-container *ngIf="(rooms$ | async) as rooms">
  <ng-container *ngIf="rooms.length; else noRooms">
    <div class="card" *ngFor="let room of rooms">
      <p-card [header]="room.room_Type">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" height="130" width="auto"/>
        </ng-template>
        <div class="content-container">
          <div style="align-self: flex-start; width: 118px;">
            <span class="room-details">{{room.room_Dimension}}</span>
            <span class="room-details">{{room.bed_Type}}</span>
            <span class="room-details">{{room.max_Guest}}</span>
          </div>
          <div class="price-details-container">
            <span class="price-fee">+ $45 Daily Resort Fee</span>
            <span class="price-details">{{room.room_Price | currency:'USD'}} Avg./Night</span>
            <span class="room-details">Excludes Taxes | <button class="price-btn" type="button" (click)="priceDetail(room)">Pricing Details</button></span>
          </div>
        </div>
        <p-divider></p-divider>
        <ng-template pTemplate="footer">
          <div class="footer-container">
            <button class="view-room" type="button">View Room Details</button>
            <button pRipple class="addToCart-btn btn btn-primary" type="button" (click)="addToCart(room)">Add to cart</button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </ng-container>
  <ng-template #noRooms>
    <h3 class="container-fluid" style="text-align: center;">
      No Rooms Found.
    </h3>
  </ng-template>
</ng-container>
  
<p-dialog
    class="price-dialog"
    [modal]="true"
    [(visible)]="visible"
    [draggable]="false">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <div style="font-weight: 500; font-size: 28px; color: black">
        {{selectedRoom?.room_Type}}
      </div>
    </div>
    <div class="price-detail">
      <div style="padding: 4px 0px 4px 0px;">
        <div class="divider"></div>
      </div>
      <div *ngIf="dateRange.length">
        <div *ngFor="let date of dateRange">
          <div class="description-container">
            <div class="left-column-info">
                {{date | date:'MM/dd'}}
            </div>
            <div class="right-column-info">
              {{selectedRoom?.room_Price | currency:'USD'}}
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 4px 0px 4px 0px;">
        <div class="divider"></div>
      </div>
      <div class="description-container">
        <div class="left-column-info" style="color: rgb(96, 96, 96); font-size: 14px;">
          Resort Fee*
        </div>
        <div class="right-column-info" style="color: rgb(96, 96, 96); font-size: 14px;">
          {{totalNights * 45 | currency:'USD'}}
        </div>
      </div>
      <div style="padding: 4px 0px 4px 0px;">
        <div class="divider"></div>
      </div>
      <div class="description-container">
        <div class="left-column-info" style="font-size: 16px; font-weight: 500">
          Room Total*
        </div>
        <div class="right-column-info" style="font-size: 16px; font-weight: 500">
          {{ totalPrice | currency: 'USD'}}
        </div>
      </div>
      <div style="padding: 4px 0px 4px 0px;">
        <div class="divider"></div>
      </div>
      <div class="description-container">
        <div class="left-column-info" style="color:rgb(96, 96, 96); font-size: 12px; font-weight: 400;">
          *Taxes not inculded
        </div>
      </div>
      <button pRipple type="button" class="book-room-btn btn btn-primary">
        Book Room
      </button>
      <button class="close-dialog-btn" type="button" (click)="visible=false">
        Close
      </button>
    </div>
</p-dialog>