<div class="room-rates-container">
    <div class="card">
        <p-card header="Delano Stadium View King Suite Stay Well">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" height="130" width="auto"/>
            </ng-template>
            <div class="content-container">
                <div style="align-self: flex-start; width: 118px;">
                    <span class="room-details">725 sq. ft.</span>
                    <span class="room-details">1 King Bed</span>
                    <span class="room-details">Max Guests 3</span>
                </div>
                <div class="price-details-container">
                    <span class="price-fee">+ $45 Daily Resort Fee</span>
                    <span class="price-details">$506.50 Avg./Night</span>
                    <span class="room-details">Excludes Taxes | <button class="price-btn" type="button" (click)="visible = true">Pricing Details</button></span>
                </div>
            </div>
            <p-divider></p-divider>
            <ng-template pTemplate="footer">
                <div class="footer-container">
                    <button class="view-room" type="button">View Room Details</button>
                    <button pRipple class="cart-btn btn btn-primary" type="button">Add to cart</button>
                </div>
            </ng-template>
        </p-card>
    </div>
    
    <div class="card">
        <p-card header="Delano Stadium View King Suite Stay Well">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" height="130" width="auto"/>
            </ng-template>
            <div class="content-container">
                <div style="align-self: flex-start; width: 118px;">
                    <span class="room-details">725 sq. ft.</span>
                    <span class="room-details">1 King Bed</span>
                    <span class="room-details">Max Guests 3</span>
                </div>
                <div class="price-details-container">
                    <span class="price-fee">+ $45 Daily Resort Fee</span>
                    <span class="price-details">$506.50 Avg./Night</span>
                    <span class="room-details">Excludes Taxes | <button class="price-btn" type="button" (click)="visible = true">Pricing Details</button></span>
                </div>
            </div>
            <p-divider></p-divider>
            <ng-template pTemplate="footer">
                <div class="footer-container">
                    <button class="view-room" type="button">View Room Details</button>
                    <button pRipple class="cart-btn btn btn-primary" type="button">Add to cart</button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card">
        <p-card header="Delano Stadium View King Suite Stay Well">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" height="130" width="auto"/>
            </ng-template>
            <div class="content-container">
                <div style="align-self: flex-start; width: 118px;">
                    <span class="room-details">725 sq. ft.</span>
                    <span class="room-details">1 King Bed</span>
                    <span class="room-details">Max Guests 3</span>
                </div>
                <div class="price-details-container">
                    <span class="price-fee">+ $45 Daily Resort Fee</span>
                    <span class="price-details">$506.50 Avg./Night</span>
                    <span class="room-details">Excludes Taxes | <button class="price-btn" type="button" (click)="visible = true">Pricing Details</button></span>
                </div>
            </div>
            <p-divider></p-divider>
            <ng-template pTemplate="footer">
                <div class="footer-container">
                    <button class="view-room" type="button">View Room Details</button>
                    <button pRipple class="cart-btn btn btn-primary" type="button">Add to cart</button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<!-- <p-dialog 
    [modal]="true"
    [(visible)]="visible"
    [draggable]="false">
    <ng-template  pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center">
            <h3>
                Delano Stadium View King Suite Stay Well
            </h3>
        </div>
    </ng-template>
</p-dialog> -->