  <main>  
    <div class="container marketing">
        <h1 class="text-center my-5">Welcome to Suite Stay</h1>
        <p class="lead text-center mb-5">
            At SuiteStay, we pride ourselves on offering exceptional hospitality experiences, providing our guests with the perfect blend of comfort, style, and personalized service. Whether you’re here for business or leisure, our dedicated team is committed to making your stay unforgettable.
        </p>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Our Mission <span class="text-body-secondary">Creating a welcoming environment.</span></h2>
          <p class="lead">At SuiteStay, our mission is simple: to offer an unparalleled experience that reflects the highest standards of hospitality. From seamless check-ins to premium amenities, we are dedicated to making your stay relaxing, enjoyable, and memorable. Your satisfaction is our priority, and we continuously strive to exceed your expectations.</p>
        </div>
        <div class="col-md-5">
          <img class="location-images featurette-image img-fluid mx-auto" atl="Lobby" src="/assets/about-us/our_mission.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Our Vision. <span class="text-body-secondary">Redefining the art of hospitality. </span></h2>
          <p class="lead">Our vision is to continuously evolve and provide exceptional experiences that anticipate the needs of our guests. We aim to create spaces where comfort and style meet, offering a seamless travel experience that enriches every journey. As we grow, we remain dedicated to delivering the highest standards of service, ensuring that every guest feels valued, cared for, and inspired.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="location-images featurette-image img-fluid mx-auto" atl="Guests" src="/assets/about-us/guests.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Our Team. <span class="text-body-secondary">Passionate about service excellence.</span></h2>
          <p class="lead">At SuiteStay, our team is the heart of everything we do. We pride ourselves on having a group of dedicated professionals who are committed to delivering exceptional experiences for our guests. From our front desk staff to our housekeeping team, every member plays an important role in ensuring your stay is nothing short of extraordinary. Together, we share a passion for hospitality and a dedication to making each visit memorable</p>
        </div>
        <div class="col-md-5">
            <img class="location-images featurette-image img-fluid mx-auto" atl="Team Staff" src="/assets/about-us/team.jpg"/>
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
  
    <footer class="container">
      <p class="float-end"><a href="#" (click)="scrollToTop($event)">Back to top</a></p>
      <p>&copy; 2017–2024 Suite Stay, Inc.</p>
    </footer>
</main>