<main>  
    <div class="container marketing">
        <h1 class="text-center my-5">Explore Our Stunning Properties</h1>
        <p class="lead text-center mb-5">
            Discover the unique experiences we offer at our luxurious properties located in three of the most iconic cities in the United States.
        </p>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Las Vegas. <span class="text-body-secondary">The entertainment capital of the world.</span></h2>
          <p class="lead">Experience the vibrant nightlife, world-class dining, and exciting entertainment at our luxurious Las Vegas property. Located near the Strip, our hotel offers breathtaking views, premium amenities, and an unforgettable stay.</p>
        </div>
        <div class="col-md-5">
          <img class="location-images featurette-image img-fluid mx-auto" atl="Las Vegas" src="/assets/locations/las_vegas.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Los Angeles. <span class="text-body-secondary">The city of angels. </span></h2>
          <p class="lead">Stay in the heart of Los Angeles, where iconic attractions like Hollywood, Beverly Hills, and Santa Monica Beach are just moments away. Our property offers the perfect blend of comfort and style, making it the ideal choice for your LA getaway.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="location-images featurette-image img-fluid mx-auto" atl="Santa Monica" src="/assets/locations/santa_monica.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">New York City. <span class="text-body-secondary">The city that never sleeps.</span></h2>
          <p class="lead"> Stay in the city that never stops moving. Our New York property is located in Midtown Manhattan, offering easy access to Times Square, Central Park, and Broadway. Enjoy contemporary rooms, rooftop views, and world-class service.</p>
        </div>
        <div class="col-md-5">
            <img class="location-images featurette-image img-fluid mx-auto" atl="Santa Monica" src="/assets/locations/time_square.jpg"/>
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
  
    <footer class="container">
      <p class="float-end"><a href="#" (click)="scrollToTop($event)">Back to top</a></p>
      <p>&copy; 2017–2024 Suite Stay, Inc.</p>
    </footer>

  </main>