.body-container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    flex-grow: 1;
}

@media (min-width: 1201px) {
    .main-container{
        max-width: 1440px;
        padding-left: 64px;
        padding-right: 64px;
    }

}

@media (min-width: 961px){
    .title{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.calendar-column-position{
    position: sticky;
    top: 76px;
}

.calendar-content-container{
   overflow-x: hidden;
   overflow-y: scroll;
   scrollbar-width: none;
}

.calendar-header{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    display: flex;
}

.selected-dates-title{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.date-range{
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgb(191, 191, 191);
    margin-bottom: 10px;
}

.date{
    width: 130px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(126, 128, 131);
    flex-grow: 1;
    position: relative;
    margin-bottom: 5px;
}

.arrow{
    display: inline-flex;
    align-self: center;
    color: rgb(126, 128, 131);
    margin-bottom: 5px;
}

.icon-arrow::before {
    content: "\27F6"; /* Unicode for the arrow symbol */
    display: inline-flex;
    align-self: center;
    font-size: 1.4rem;
    color: rgb(126, 128, 131);
    transform: scale(2.5, 1.5); /* Stretch more horizontally */
}

.sub-header{
    position: absolute;
    top: -12px;
    font-weight: 500;
    font-size: 12px;
    color: rgb(126, 128, 131);
}

.calendar{
    display: block;
    width: auto;
}

.total-guest-container{
    display: flex;
    align-items: center;
    margin: 8px 0 8px 0;
    padding: 20px 16px 20px 16px;
    border-radius: 8px;
    background-color: var(--gray-50);
}

.guest-title{
    text-align: left;
    flex-grow: 1;
}

.guest-button{
    border: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    background: none;
}

.total-guests-text{
    text-align: center;
    font-size: 22px;
    width: calc(44px);
    font-weight: 500;
    color: var(--primary-color);
}

.room-section{
    max-width: 65%;
    flex: 0 0 65%;
}

.room-container-header{
    margin-bottom: 24px;
}

.room-container-title{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}