::ng-deep .p-datatable-tbody > tr {
    text-align: start;
    border-color: #e5e7eb;;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: var(--p-datatable-body-cell-border-color);
    padding: var(--p-datatable-body-cell-padding);
}

::ng-deep .p-datatable-wrapper {
    min-height: 60vh;
}

.table-image{
    width: 64px;
    object-fit: cover;
}

.p-input-icon-left input {
    width: 100%; /* Make input responsive */
    max-width: 100%; /* Prevent overflow */
    flex-shrink: 1; /* Allow the input to shrink in flexbox */
    min-width: 0; /* Allow shrinking below the intrinsic width */
}

.table-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
}

.table-title {
    margin-bottom: 1rem;
    text-align: left; /* Optional: Adjust based on design */
}

.summary-text{
    font-size: 16px;
    font-weight: 500;
}

.delete-btn{
    outline-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px;
    color: #d9534f;
}

.delete-btn:hover{
    background-color: var(--red-50);
}

::ng-deep .cancel-dialog .p-dialog-content{
    padding: 0 1.5rem .5rem 1.5rem;
}

::ng-deep .cancel-dialog .p-dialog-footer{
    flex-shrink: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

::ng-deep .cancel-dialog .p-dialog-footer .p-button{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 14px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 6px;
}