<main>  
    <div class="container marketing">
        <h1 class="text-center my-5">Discover Your Perfect Stay at SuiteStay</h1>
        <p class="lead text-center mb-5">
            From cozy Standard Rooms to breathtaking Panoramic Views and luxurious Penthouses, SuiteStay offers a range of accommodations to make your stay unforgettable. Relax in style and comfort, no matter which room you choose.
        </p>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Standard Room. <span class="text-body-secondary">Comfort meets affordability.</span></h2>
          <p class="lead">Perfect for travelers seeking a balance of value and quality, our Standard Rooms offer cozy accommodations with modern amenities. Ideal for business trips, solo travelers, or quick getaways.</p>
        </div>
        <div class="col-md-5">
          <img class="room-images featurette-image img-fluid mx-auto" atl="Standard Room" src="/assets/rooms/resort_king.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Panoramic View. <span class="text-body-secondary">See the city like never before. </span></h2>
          <p class="lead">Wake up to stunning cityscapes in our Panoramic Rooms. Designed for those who love a view, these rooms offer large windows and elegant interiors, making your stay truly memorable.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="room-images featurette-image img-fluid mx-auto" atl="Panoramic View" src="/assets/rooms/panoramic_suite.jpg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Penthouse. <span class="text-body-secondary">Exceptional living spaces for unforgettable stays.</span></h2>
          <p class="lead"> Elevate your stay with our Penthouse Suites, featuring expansive layouts, panoramic views, and premium amenities. Enjoy a private sanctuary designed to impress, with luxurious bedding, elegant furnishings, and exclusive access to VIP services. Perfect for special occasions or indulgent getaways.</p>
        </div>
        <div class="col-md-5">
            <img class="room-images featurette-image img-fluid mx-auto" atl="Penthouse" src="/assets/rooms/penthouse_living_room.jpg"/>
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
  
    <footer class="container">
      <p class="float-end"><a href="#" (click)="scrollToTop($event)">Back to top</a></p>
      <p>&copy; 2017–2024 Suite Stay, Inc.</p>
    </footer>

  </main>