.destination-title{
    display: block;
    text-align: left;
}

::ng-deep .p-dropdown-items{
    padding: 0;
    margin: 0;
}

::ng-deep .border-color{
    border-color: red;
}

::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar{
    display: none;
}