<div class="center-container bg-body-tertiary">
    <div class="card flex justify-content-center">
        <p-card header="Create Account" subheader="Let's get started!" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img src="/assets/SuiteStayLogo.svg" alt="mdo">
            </ng-template>
            <form [formGroup]="signUpForm" class="sign-up-form">
                <div class="mt-1 mb-4">
                    <p-floatLabel>
                        <input pInputText 
                        id="fName"
                        name="fName"
                        formControlName="fName"
                        placeholder="e.g., John"
                        autocomplete="off"/>
                        <label for="fName">First Name</label>
                    </p-floatLabel>
                    <div *ngIf="fName.invalid && (fName.dirty || fName.touched)">
                        <div *ngIf="fName.errors?.['required']">
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{required_error()}}"/>
                        </div>
                        <div *ngIf="fName.errors?.['pattern']"> 
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{format_error()}}"/>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <input pInputText 
                        id="lName" 
                        name="lName" 
                        formControlName="lName"
                        placeholder="e.g., Smith"
                        autocomplete="off"/>
                        <label for="lName">Last Name</label>
                    </p-floatLabel>
                    <div *ngIf="lName.invalid && (lName.dirty || lName.touched)">
                        <div *ngIf="lName.errors?.['required']">
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{required_error()}}"/>
                        </div>
                        <div *ngIf="lName.errors?.['pattern']"> 
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{format_error()}}"/>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <input pInputText 
                        id="email" 
                        name="email" 
                        formControlName="email"
                        placeholder="e.g., JohnDove123@example.com"
                        autocomplete="off"/>
                        <label for="email">Email</label>
                    </p-floatLabel>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['required']">
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{required_error()}}"/>
                        </div>
                        <div *ngIf="email.errors?.['email']"> 
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{email_error()}}"/>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <p-password 
                            formControlName="password"
                            inputId="password"
                            name="password"
                            placeholder="e.g., ********"
                            promptLabel="Password Strength"
                            [style]="{'width':'320px'}">
                            <ng-template pTemplate="footer">
                                <p-divider/>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Minimum 8 characters</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>At least one symbol (e.g., !#$%^&&commat;*)</li>
                                </ul>
                            </ng-template>
                        </p-password>
                            <label for="password">Password</label>
                    </p-floatLabel>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{required_error()}}"/>
                        </div>
                        <div *ngIf="password.errors?.['pattern']"> 
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{password_requirement_error()}}"/>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <p-password 
                            formControlName="Cpassword"
                            inputId="Cpassword"
                            name="Cpassword"
                            [feedback]="false"
                            placeholder="e.g., ********"
                            [style]="{'width':'320px'}"/>
                            <label for="Cpassword">Confirm Password</label>
                    </p-floatLabel>
                    <div *ngIf="Cpassword.invalid && (Cpassword.dirty || Cpassword.touched)">
                        <div *ngIf="Cpassword.errors?.['required']">
                            <p-tag [rounded]="true" 
                            icon="pi pi-times-circle" 
                            severity="danger" 
                            value="{{required_error()}}"/>
                        </div>
                    </div>
                </div>
                <div class="signup-btn d-grid gap-2 col-6 mx-auto mb-2">
                    <button type="submit" 
                    class="btn btn-primary" 
                    [disabled]="signUpForm.invalid">Sign up</button>
                </div>
                <div class="text-center">
                    <small><a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="active">Go Back</a></small>
                </div>
            </form>
        </p-card>
    </div>
</div>