<div class="center-container bg-body-tertiary">
    <div class="card flex justify-content-center">
        <p-card header="Create Account" subheader="Let's get started!" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img src="/assets/SuiteStayLogo.svg" alt="mdo">
            </ng-template>
            <form [formGroup]="signUpForm" class="sign-up-form" (ngSubmit)="onSubmit()">
                <div class="mt-1 mb-4">
                    <p-floatLabel>
                        <input pInputText
                        [ngClass]="{'valid': fName.valid && fName.touched,
                                    'invalid': (fName.invalid && formSubmitted) || fName.errors?.['pattern']}"
                        id="fName"
                        name="fName"
                        formControlName="fName"
                        placeholder="e.g., John"
                        autocomplete="off"/>
                        <label [ngClass]="{'error-label':formSubmitted && fName.errors?.['required']}" for="fName">First Name</label>
                        <i *ngIf="fName.valid && fName.touched" class="pi pi-check valid-icon"></i>
                        <i *ngIf="(fName.invalid && formSubmitted) || fName.errors?.['pattern']" class="pi pi-asterisk invalid-icon"></i>
                    </p-floatLabel>
                    <div *ngIf="fName.invalid && (fName.dirty || fName.touched)">
                        <div *ngIf="fName.errors?.['pattern']"> 
                            <i class="error">Invalid format. Letters only.</i>
                        </div>
                    </div>
                    <div *ngIf="fName.errors?.['required'] && formSubmitted">
                        <i class="error">Field is required.</i>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <input pInputText
                        [ngClass]="{'valid': lName.valid && lName.touched,
                                    'invalid': (lName.invalid && formSubmitted) || lName.errors?.['pattern']}" 
                        id="lName" 
                        name="lName" 
                        formControlName="lName"
                        placeholder="e.g., Smith"
                        autocomplete="off"/>
                        <label [ngClass]="{'error-label':formSubmitted && lName.errors?.['required']}" for="lName">Last Name</label>
                        <i *ngIf="lName.valid && lName.touched" class="pi pi-check valid-icon"></i>
                        <i *ngIf="(lName.invalid && formSubmitted) || lName.errors?.['pattern']" class="pi pi-asterisk invalid-icon"></i>
                    </p-floatLabel>
                    <div *ngIf="lName.invalid && (lName.dirty || lName.touched)">
                        <div *ngIf="lName.errors?.['pattern']"> 
                            <i class="error">Invalid format. Letters only.</i>
                        </div>
                    </div>
                    <div *ngIf="lName.errors?.['required'] && formSubmitted">
                        <i class="error">Field is required.</i>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <input pInputText
                        [ngClass]="{'valid': email.valid && email.touched,
                                    'invalid': email.invalid && formSubmitted}"
                        id="email" 
                        name="email" 
                        formControlName="email"
                        placeholder="e.g., JohnDove123@example.com"
                        autocomplete="off"/>
                        <label [ngClass]="{'error-label':formSubmitted && email.errors?.['required']}" for="email">Email</label>
                        <i *ngIf="email.valid && email.touched" class="pi pi-check valid-icon"></i>
                        <i *ngIf="email.invalid && formSubmitted" class="pi pi-asterisk invalid-icon"></i>
                    </p-floatLabel>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['email']"> 
                        <i class="error">Email should be valid.</i>
                        </div>
                    </div>
                    <div *ngIf="email.errors?.['required'] && formSubmitted">
                        <i class="error">Field is required.</i>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <p-password
                            [inputStyle]="getInputStyle('password')"
                            formControlName="password"
                            inputId="password"
                            name="password"
                            placeholder="e.g., ********"
                            promptLabel="Must contain:"
                            weakLabel="Weak Password" 
                            mediumLabel="Average Password" 
                            strongLabel="Strong Password"
                            [style]="{'width':'320px'}">
                            <ng-template pTemplate="footer">
                                <ul class="password-requirements pl-2 mt-1 mb-0">
                                    <li [ngClass]="{'requirement-met': hasMinimumLength}"> Minimum of 8 characters</li>
                                    <li [ngClass]="{'requirement-met': hasUppercase}"> At least one uppercase</li>
                                    <li [ngClass]="{'requirement-met': hasNumeric}"> At least one numeric</li>
                                    <li [ngClass]="{'requirement-met': hasSymbol}"> At least one symbol (e.g., !#$%^&&commat;*)</li>
                                </ul>
                            </ng-template>
                        </p-password>
                            <label [ngClass]="{'error-label':formSubmitted && password.errors?.['required']}" for="password">Password</label>
                            <i *ngIf="password.valid && password.touched && !signUpForm.errors?.['pattern']" class="pi pi-check valid-icon"></i>
                            <i *ngIf="(password.errors?.['required'] && formSubmitted) ||(password.touched && signUpForm.errors?.['pattern'])" class="pi pi-asterisk invalid-icon"></i>
                    </p-floatLabel>
                    <div *ngIf="password.errors?.['required'] && formSubmitted">
                        <i class="error">Field is required.</i>
                    </div>
                    <div *ngIf="signUpForm.errors?.['pattern'] && password.touched"> 
                        <i class="error">Password does not meet requirements.</i>
                    </div>
                </div>
                <div class="mb-4">
                    <p-floatLabel>
                        <p-password 
                            formControlName="Cpassword"
                            inputId="Cpassword"
                            name="Cpassword"
                            [feedback]="false"
                            placeholder="e.g., ********"
                            [inputStyle]="getInputStyle('Cpassword')"
                            [ngClass]="{'ng-invalid': formSubmitted && signUpForm.errors?.['passwordMismatch']}"
                            [style]="{'width':'320px'}"/>
                            <label [ngClass]="{'error-label':formSubmitted && Cpassword.errors?.['required']}" for="Cpassword">Confirm Password</label>
                            <i *ngIf="Cpassword.valid && Cpassword.touched && !signUpForm.errors?.['passwordMismatch']" class="pi pi-check valid-icon"></i>
                            <i *ngIf="(formSubmitted && Cpassword.errors?.['required']) || (Cpassword.touched && signUpForm.errors?.['passwordMismatch'])" class="pi pi-asterisk invalid-icon"></i>
                    </p-floatLabel>
                    <div *ngIf="Cpassword.errors?.['required'] && formSubmitted">
                        <i class="error">Field is required.</i>
                    </div>
                    <div *ngIf="Cpassword.touched && signUpForm.errors?.['passwordMismatch'] && Cpassword.valid && password.valid">
                        <i class="error">Passwords do not match.</i>
                    </div>
                </div>
                <div class="signup-btn d-grid gap-2 col-6 mx-auto mb-2">
                    <button type="submit" 
                    class="btn btn-primary">Sign up</button>
                </div>
                <div class="text-center">
                    <small><a class="text-decoration-none" [routerLink]="['/']" routerLinkActive="active">Go Back</a></small>
                </div>
            </form>
        </p-card>
    </div>
</div>